# Telegram Bot
BOT_TOKEN=your_telegram_bot_token_here

# MongoDB Connection
MONGO_URL=mongodb://localhost:27017
MONGO_DB=tgbot

# MongoDB Authentication (for Docker)
MONGO_USERNAME=mongo_username
MONGO_PASSWORD=mongo_password
MONGO_DATABASE=vpn_bot

# Mongo Express (Web UI for MongoDB)
ME_USERNAME=admin
ME_PASSWORD=change_me_please

# Logging Configuration
LOG_LEVEL=debug
MAX_SIZE_FILE_LOG=100
MAX_BACKUPS_LOG=7
MAX_AGE_FILE_LOG=7